<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter Template</title>
</head>
<body>
    <p>
        Reference Number: - {{referenceNumber}}<br><br>
        To<br>
        The Director,<br>
        {{companyName}},<br>
        {{companyAddress}}<br><br>
        Sub: - Permission regarding internship in your esteemed organization.<br><br>
        
        Dear Sir / Madam,<br><br>
        With reference to the above, this is to inform you that {{fullName}} S/O Mr. {{fatherName}} bearing Class Roll Number {{classRollNumber}}, Registration Number {{registrationNumber}} and Examination Roll Number {{examRollNumber}} is a bonafide student of {{department}}, St. Xavier's College, Ranchi. He is currently studying in {{currentSemester}} semester. In sixth semester he has to undertake an internship to meet the credit requirements of paper BCADSE6048B. The credit weightage of the paper is 2 credits i.e., 30 Lecture Hours.<br><br>
        He is keenly interested in undertaking internship in your esteemed organization.<br>
        We request you kindly to grant him permission to undertake the internship. It is required to be ensured that the time slot allotted to him to undergo the internship is not matching with his class timings. After successful completion of the internship, he has to submit a project report duly signed / verified by your organization to the Department of Computer Science, St. Xavier's College, Ranchi.<br><br>
        His character and conduct is good to the best of our knowledge.<br>
        Thank you in advance.<br>
        With regards,<br><br>

        (Surya Narayan Prasad)<br>
        Assistant Professor,<br>
        Department of {{department}}<br>
        St. Xavier's College, Ranchi.<br>
    </p>

    <p>All Data: For Checking Purpose is all data Comming or not
        Reference Number: {{referenceNumber}}<br>
        Recipient: {{recipient}}<br>
        Recipient Department: {{recipientDepartment}}<br>
        CompanyName: {{companyName}}<br>
        Company Address: {{companyAddress}}<br>
        Student Name: {{fullName}}<br>
        Father's Name: {{fatherName}}<br>
        Class Roll Number: {{classRollNumber}}<br>
        Registration Number: {{registrationNumber}}<br>
        Exam Roll Number: {{examRollNumber}}<br>
        Programme: {{programme}}<br>
        Department: {{department}}<br>
        Current Semester : {{currentSemester}}
    </p>
</body>
</html>
